@keyframes maquina {
  from {
    width: 100%; }
  to {
    width: 80%; } }

@media (max-width: 320px) {
.aparte2{
  display: grid;
  margin-top: 0px;
  padding: 0px;
  width: 310px;
  height: 170px;
}
.aparte img {
 width: 315px;
 height: 250px;
 margin-top: -70px;
}
.sonrisa10{
  display: inline-block;
}
.item{
  width: 300px;
  height: 250px;
}
.container {
  margin: 0%;
  padding: 0%;
  width: 200px;
}
table.tabla2 {
  margin: 0%;
  padding: 0px;
}
}

    @media (max-width: 480px) {
  .body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/gallardoim.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .fondobanda2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/Bandera_de_River.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .logo2 {
    display: flex;
    justify-content: center; }
  .King {
    display: grid;
    font-size: xx-small;
    grid-template-rows: repeat(1, 1fr);
    transform: skewY(-2deg);
    float: left;
    font-family: monospace;
    animation-delay: 1s;
    animation: maquina 10s infinite; } }

* {
  box-sizing: border-box;
  margin: 0; }

body {
  display: grid;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/gallardoim.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }


.King {
  display: grid;
  height: 80vh;
  width: 100%;
  grid-template-rows: repeat(1, 1fr);
  transform: skewY(-2deg);
  float: left;
  font-family: monospace;
  animation-delay: 1s;
  animation: maquina 10s infinite; }

.info_content {
  grid-column: 7 / 10;
  grid-row: 3 / 7;
  color: #b30606; }
  .info_content h1 {
    font-size: 4em;
    margin: 10px; }
  .info_content p {
    font-weight: 300;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.justify {
  justify-content: flex-end; }

.aparte {
  display: grid;
  margin-top: 1000px; }
  .aparte img {
    width: 100%; }
  .aparte .textoimg {
    display: flex;
    color: #f3f3f3;
    margin-top: 100px;
    text-align: center; }

.fondobanda2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/Bandera_de_River.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat; }

.item {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px; }
  .item :hover {
    filter: opacity(0.9);
    transform: scale(1.08); }

.grid-container {
  display: inline-block;
  grid-column: auto;
  justify-content: center;
  margin: 10px; }

.tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px; }

.titulotabla {
  font-size: large;
  justify-content: center;
  color: #b30606; }

.tablaestilo {
  border-collapse: separate;
  border-spacing: 5px;
  background: #000 url("gradient.gif") bottom left repeat-x;
  color: #f3f3f3; }

.fuente, .aparte .textoimg, .titulotabla {
  font-family: "Lucida Sans";
  text-align: center;
  display: inline-block;
  align-items: center;
  margin: 100px;
  color: #f3f3f3; }
  .fuente h2, .aparte .textoimg h2, .titulotabla h2 {
    font-style: italic;
    text-align: center;
    line-height: 45px;
    margin: auto;
    color: #b30606; }
  .fuente h3, .aparte .textoimg h3, .titulotabla h3 {
    font-style: italic;
    text-align: center;
    line-height: 45px;
    margin: auto;
    color: #b30606; }
  .fuente h4, .aparte .textoimg h4, .titulotabla h4 {
    font-style: italic;
    text-align: center;
    line-height: 45px;
    margin: auto;
    color: #b30606; }

.fuentec {
  font-family: "Lucida Sans";
  font-style: italic;
  line-height: 45px;
  color: #f3f3f3; }
  .fuentec h3 {
    font-style: italic;
    line-height: 45px;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    text-decoration: underline; }
  .fuentec h4 {
    font-style: italic;
    line-height: 45px;
    color: #b30606;
    display: flex;
    justify-content: center; }

input {
  background-color: #b30606;
  border-style: 2px black; }

textarea {
  background-color: #b30606;
  border-style: 2px black; }

.final1 {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #212529;
  color: white;
  position: relative;
  margin-top: 500px; }

.logo2 {
  width: 4em; }

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  background: linear-gradient(white, white, white, red, white, white, white);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
