@keyframes maquina {
    from{
        width: 100%;
    }
    to{
        width: 80%;
    }
}
@media (max-width: 320px) {
.aparte2{
    display: grid;
    margin-top: 10px;
    padding: 50px;
}
.sonrisa10{
    display: inline-block;
}
.item {
    width: 300px;
    height: 250px;
}
.tabla {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-direction: column;
}
.container {
    margin: 0%;
    padding: 0%;
    width: 100px;
 }
 table.tabla2 {
    margin: 0%;
    padding: 0px;
  }
  .aparte img {
    width: 315px;
    height: 250px;
    margin-top: -70px;
   }
}
@media (max-width: 480px){ 

    .body{
        background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) ,url(../img/gallardoim.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
    .fondobanda2{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/Bandera_de_River.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .logo2{
        display: flex;
        justify-content: center;
    }
    
    .King{
        display: grid;
        font-size: xx-small;
        grid-template-rows: repeat(1,1fr);
        transform: skewY(-2deg);
        float: left;
        font-family: monospace;
        animation-delay: 1s;
        animation: maquina 10s infinite;
    }
    }